<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.goforer.grabph">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <protected-broadcast android:name="android.intent.action.MEDIA_MOUNTED" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:name=".Grabph"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".presentation.ui.upload.UploadPhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.SearpleGallery"/>
        <activity
            android:name=".presentation.ui.upload.AuthActivity"
            android:screenOrientation="locked"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="searp.io"
                    android:pathPrefix="/searpapp/"
                    android:scheme="searp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.ranking.RankingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.SearpleGallery" />
        <activity
            android:name=".presentation.ui.othersprofile.OthersProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.SearpleGallery" />
        <activity
            android:name=".presentation.ui.people.PeopleActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.SearpleGallery" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".presentation.ui.splash.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.home.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.Home" />
        <activity
            android:name=".presentation.ui.login.LogInActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".presentation.ui.feed.feedinfo.FeedInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.PhotoBar.Info.FeedInfo">
            <intent-filter android:label="@string/feed_view">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://www.grabph.com/feed” -->
                <data
                    android:host="www.searp.com"
                    android:pathPrefix="/feed"
                    android:scheme="http" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.photoviewer.PhotoViewerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.DarkActionBar.Viewer" />
        <activity
            android:name=".presentation.ui.search.FeedSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.Search">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.map.MapsActivity"
            android:label="@string/title_activity_maps"
            android:launchMode="singleTop"
            android:screenOrientation="locked"/>
        <activity
            android:name=".presentation.ui.photog.PhotogPhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.Photog" />
        <activity
            android:name=".presentation.ui.feed.photoinfo.PhotoInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.PhotoBar.Info.PhotoInfo" />
        <activity
            android:name=".presentation.ui.comment.CommentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.Comment" />
        <activity
            android:name=".presentation.ui.questinfo.QuestInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.PhotoBar.Info.QuestInfo" />
        <activity
            android:name=".presentation.ui.pinnedlist.PinnedFeedsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.PinnedFeedList" />
        <activity
            android:name=".presentation.ui.searplegallery.SearpleGalleryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.SearpleGallery" />
        <activity
            android:name=".presentation.ui.categoryphoto.CategoryPhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.PhotoType" />
        <activity
            android:name=".presentation.ui.category.CategoryActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.Home" />
        <activity
            android:name=".presentation.ui.hottopic.HotTopicContentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar.PhotoBar.Info.HotTopicContent" />
        <activity
            android:name=".presentation.ui.setting.SettingListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="locked"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider310866589465901"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_key" />
    </application>

</manifest>